<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86398548424-g7d9l4o7ijlt7ufqucp2l8161jc125jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86398548424-g7d9l4o7ijlt7ufqucp2l8161jc125jp</string>
	<key>API_KEY</key>
	<string>AIzaSyCVLWicIFGWmqSMWaw27LEfVyiJ2KKqjF0</string>
	<key>GCM_SENDER_ID</key>
	<string>86398548424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classManagement</string>
	<key>PROJECT_ID</key>
	<string>kashya-be77e</string>
	<key>STORAGE_BUCKET</key>
	<string>kashya-be77e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86398548424:ios:41b5bade03f7490f15e8fd</string>
</dict>
</plist>